#main-container {
    margin-top: 3.5em;
}

@media screen and (max-width: 768px) {
    #filter-and-layout-container-for-nav {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #filter-and-layout-container-for-nav {
        display: block;
    }
}