.list-item-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.list-item {
    max-width: 80%;
    height: fit-content;
}

@media screen and (max-width:576px) {
    .list-item {
        max-width: 98%;
    }
}