#scroller-container {
    position: relative;
    z-index: 2;
}

#scroller {
    position: fixed;
    height: 100px;
    right: -2em;
    bottom: -8%;
    color: #6c757d;
    cursor: pointer;
    transition: right 0.2s ease-in;
}

#scroller:active {
    color: #b6b8b9;
}