.plugin-item-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.plugin-image-list {
    width: 30%;
}

.img-and-text-container-list {
    display: flex;
}

.img-and-text-container-gallery {
    height: 80%;
    width: 100%;
}

.manufacturer-and-type-container-list {
    color: rgb(117, 117, 117);
}

.name-and-manufacturer-container-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
    width: 50%;
}

.plugin-name-list {
    width: 80%;
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ul-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.li-gallery {
    margin: 0.5em;
}

.plugin-item-gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 20em;
}

.plugin-image-gallery {
    height: 100%;
}

.plugin-name-gallery {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.hide-plugin-arrow {
    display: none;
}

@media screen and (min-width: 767px) {
    .plugin-name-list {
        font-size: 2em;
    }
}